<section class="container content-section">
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8">
        <h2>What can I expect at a Jewish wedding ceremony?</h2>
        <p>
            Here are a few of the highlights on what to expect if this is your first time attending a Jewish wedding.
        </p>
        <h3>Kippot</h3>
        <p>
            A <i>kippah</i> or <i>yarmulke</i> is a head covering traditionally worn by Jewish men. We will be providing <i>kippot</i> for guests of all genders to wear (and take home) from the ceremony. It is your choice to wear or not wear one at our ceremony&mdash; we won't be offended either way!
        </p>
        <h3>Ketubah</h3>
        <p>
            The <i>ketubah</i> is a symbolic Jewish marriage contract that traditionally outlined the groom's responsibilities to his bride, the bride's protections and rights, and the framework for a potential divorce. The modern reform <i>ketubah</i> lists all the details of the wedding and outlines what the couple owes each other during their marriage. It is signed by the couple and two witnesses before the ceremony takes place.
        </p>
        <h3>Chuppah</h3>
        <p>
            Jewish wedding ceremonies traditionally happen under a <i>chuppah</i>. A <i>chuppah</i> is an impermanent, man-made structure that has four corners and a canopy covering it to symbolize the home that the newlyweds are building together. The canopy is often made of a <i>tallit</i>, or prayer shawl, belonging to a member of the couple or their families.
        </p>
        <h3>Sheva b'rachot </h3>
        <p>
            The <i>sheva b'rachot</i> are the seven blessings recited under the chuppah at Jewish weddings. <a href="https://www.myjewishlearning.com/article/the-sheva-berakhot/">Here is a link to the traditional Hebrew and English text of the sheva b'rachot.</a>
        </p>
        <h3>Breaking of the glass</h3>
        <p>
            At the end of the wedding ceremony, one or both members of the married couple are invited to step on a glass inside a cloth bag to shatter it. The breaking of the glass traditionally represents the destruction of the Temple in Jerusalem. Another interpretation is that since marriage holds both sadness and joy, the breaking of the glass is a representation of the commitment to stand by one another even in hard times.
        </p>
        <h3>Mazel tov</h3>
        <p>
            After the glass is broken, you may hear people shout <i>"mazel tov"</i>, which means "congratulations" in Hebrew.
        </p>
        <h3>Yichud</h3>
        <p>
            After the wedding ceremony, couples traditionally spend at least 8 minutes in seclusion, called <i>yichud</i>. Traditionally, <i>yichud</i> is when newlyweds would consummate their marriage and share a meal together. Wink.
        </p>
      </div>
    </div>
  </section>