<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h1 class="brand-heading">{{ site.data.couple.spouse1.short_name }} & {{
                        site.data.couple.spouse2.short_name }}</h1>
                    <p class="intro-text">
                        {% assign main_event = site.data.events | where: "main_event", true | first %}
                        {{ main_event.date | date: '%B %d, %Y' }}
                        <br>
                        {{ main_event.location.city }}, {{ main_event.location.long_state }}
                        <br>
                    </p>
                    <a href="#rsvpform" class="btn-primary btn intro-text">RSVP</a>
                </div>
            </div>
        </div>
    </div>
</header>

        <iframe  id="rsvpform"     
        src="https://docs.google.com/forms/d/e/1FAIpQLScJUa17hA_B6XPLXVR4jIeMCSE1_4nEdEiTGCTaM2VHXf0c_w/viewform?embedded=true"
        width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading…
        </iframe>

